@font-face
  font-family: 'icons';
  src:  url('../fonts/icons/icomoon.eot?5khljo');
  src:  url('../fonts/icons/icomoon.eot?5khljo#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?5khljo') format('truetype'),
    url('../fonts/icons/icomoon.woff?5khljo') format('woff'),
    url('../fonts/icons/icomoon.svg?5khljo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;

html
    font-family: Arial, Helvetica, sans-serif
    body
        background: #e8e8e8
    header
        background: #444
        display: flex
        justify-content: space-between
        box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.2)
        div:first-child
            display: flex
        .logo
            padding: 0 35px
            border-right: 2px solid #22bce0
            margin: 10px 0
            img
                height: 100px
        .encabezado
            margin: 10px 0
            padding: 0 10px
            display: flex
            flex-direction: column
            justify-content: center
            .titulo,.clase, .fuente
                color: #fff
            .titulo
                h2
                    font-size: 18px
            .clase
                margin-top: 5px
                h3
                    font-size: 14px
                    font-style: italic
                    color: #22bce0
                    font-weight: bold
            .fuente
                display: flex
                margin-top: 5px
                align-items: first baseline
                color: #dd4f24   
                p
                    margin-right: 5px
                    cursor: pointer
                    align-items: first baseline
                p:first-child
                    font-size: 12px
                p:last-child
                    font-size: 20px
        .avatar-publicar
            display: flex
            align-items: center
            margin-right: 30px
            .avatar
                display: flex
                align-items: center
                .img-avatar
                    margin-right: -5px
                    z-index: 1
                    img
                        height: 50px
                        border-radius: 50%
                .menu
                    background: #dd4f24
                    height: fit-content
                    padding: 5px 5px 5px 10px
                    p
                        color: #fff
                        span::after
                            font-family: 'icons'
                            content: "\ea1c"
                            display: inline-block
                            transform: rotate(90deg)
            .btn
                background: #dd4f24
                padding: 10px 35px 10px 65px
                margin-right: -5px
                p
                    color: #fff
                    font-style: italic
                    position: relative
                    span
                        position: absolute
                        left: -55px
                        top: -15px
                    :before
                        font-family: 'icons'
                        content: "\e908"
                        font-size: 25px
    nav
        box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.2);
        :before
            border-bottom: 20px solid transparent
            border-left: 7px solid #fff
            border-top: 20px solid transparent
            content: ""
            left:0
            position: absolute
        ul
            display: flex
            background-color: #22bce0
            padding: 15px 0
            li
                margin-right: 35px
                margin-left: 15px
                :hover
                    background: rgba(0,0,0,0.2);
                a
                    color: #fff
                    font-size: 14px
                    font-weight: bold
                    text-decoration: none
    section
        display: flex
        flex-wrap: wrap
        article
            background: white
            margin: 10px auto;
            border-radius: 0 0 16px 16px;
            flex-basis: 45%
            box-shadow: 1px 5px 3px 1px rgba(0,0,0,0.5);
            .contenido
                border-bottom: 2px solid #22bce0
                display: flex
                .portada
                    img
                        height: 200px
                .informacion
                    margin: 0 15px
                    flex-grow: 1
                    .titulo
                        font-weight: bold
                        font-size: 18px
                        font-style: italic
                        margin-top: 10px
                    .autor
                            margin-top: 5px
                        span
                            color: #dd4f24
                            text-decoration: underline
                    .tag-tiempo
                        display: flex
                        justify-content: space-between
                        margin-top: 10px
                        .tag
                            p
                                background-color: #22bce0
                                padding: 5px 10px
                                color: white
                                border-radius: 16px
                        .tiempo
                            p
                                font-weight: bold
            .puntuacion
                display: flex
                justify-content: space-between
                align-items: center
                padding: 10px 0
                margin: 0 15px
                .ranking
                    p
                        .up::before
                            font-family: 'icons'
                            content: "\ea1c"
                            color: green
                            display: inline-block
                            transform: rotate(-90deg)
                        .down::before
                            font-family: 'icons'
                            content: "\ea1c"
                            color: red
                            display: inline-block
                            transform: rotate(90deg)
                .calificacion
                    p
                        .puntaje
                            background-color: #444444
                            padding: 3px 5px
                            border-radius: 2px
                            color: white
                        .ico
                            margin-left: 10px
                        .ico::before
                            color: #fcb92d
                            font-family: 'icons'
                            content: "\e9d8"
    footer
        background: #dd4f24
        padding: 40px 0
        div
            display: flex
            justify-content: center
            p
                padding: 0 30px
                display: flex
                flex-direction: column
                text-align: center
                color: rgba(255,255,255,0.5)
                font-weight: bold
                span
                    font-weight: normal
                    ::before,::after
                        content: " - "